POSTGRES_HOST=postgres_db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=senha123
POSTGRES_DATABASE=ouvidoria
PORT=3000
MODE=DEV
RUN_MIGRATIONS=true
JWT_SECRET=<adicionar_secret>

EMAIL_USER=<adicionar_email>
EMAIL_PASS=<adicionar_senha>
EMAIL_HOST=smtp.gmail.com